# macOS
.DS_Store

# Node
node_modules/

# Fichiers spécifiques
*.pdf
*copie*
package-lock.json
database.sqlite
.png
.zip
.tex
*Screen*
*coverage*
.env
database.sqlite
TP02/devoir.tex
TP03/devoir.tex
TP05/server/.env
TP05/server/config/config.json